{{ define "main" }}

	<div class="my-collection">
		<div class="shelf">
			<div class="info-tab">
				<div class="title">
					<h2>Jacob's Bar</h2>
				</div>
				<div class="icons">
					<img src="{{"images/sharing.png" | relURL }}" alt="sharing" class="sharing">
					<img src="{{"images/customize.svg" | relURL }}" alt="customize" class="customize">
				</div>
			</div>
			<div class="shelf-wrapper">
				<div class="block block1">
					<div class="product-images large-block">
						<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle picture">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
					</div>
				</div>
				<div class="block block2">
					<div class="product-images large-block">
						<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						<img src="{{"images/arbelour.png" | relURL }}" alt="arbelour" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block3">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block4">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
				</div>
			</div>
			<div class="shelf-wrapper">
				<div class="block block1">
					<div class="product-images large-block">
						<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle picture">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
					</div>
				</div>
				<div class="block block2">
					<div class="product-images large-block">
						<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						<img src="{{"images/arbelour.png" | relURL }}" alt="arbelour" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block3">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block4">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
				</div>
			</div>

			<div class="shelf-wrapper--expanded">
				<div class="block block-expand1">
					<div class="product-images large-block">
						<div class="product-image">
							<div class="product-name">
								<span>x1</span>
								<h5>Cardhu</h5>
							</div>
							<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture medium">
						</div>
						<div class="product-image">
							<div class="product-name">
								<span>x2</span>
								<h5>Dalmore</h5>
							</div>
							<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						</div>
						<div class="product-image">
							<div class="product-name">
								<span>x3</span>
								<h5>Hibiki</h5>
							</div>
							<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle picture">
						</div>
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square">
							<img src="{{"images/plus.png" | relURL }}" alt="plus" class="icon">
						</div>
					</div>
					<div class="small-block small-block--child2">
						<div class="product-image">
							<div class="product-name">
								<span>x2</span>
								<h5>The Macallan 12</h5>
							</div>
							<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
						</div>
					</div>
				</div>
				<div class="block block-expand2">
					<div class="product-images large-block">
						<img src="{{"images/cardhu.png" | relURL }}" alt="cardhu" class="wine-bottle picture">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
						<img src="{{"images/arbelour.png" | relURL }}" alt="arbelour" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block-expand3">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle picture large">
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
				</div>
				<div class="block block-expand4">
					<div class="large-block">
						<div class="border-image--rectangle"></div>
					</div>
					<div class="small-block small-block--child1">
						<div class="border-image--square"></div>
					</div>
					<div class="small-block small-block--child2">
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle picture">
					</div>
				</div>
			</div>
			<div class="fixed-image">
				<img src="{{"images/collection/chair-table.png" | relURL }}" alt="customize" class="fixed-image--block  mobile-visible">
				<img src="{{"images/collection/chair-table-desktop.png" | relURL }}" alt="customize" class="fixed-image--block desktop-visible">
				<div class="table"></div>
			</div>
		</div>
	</div>

{{ end }}