{{ define "main" }}

	<div class="my-collection">
		<div class="shelf">
			<div class="info-tab">
				<div class="title">
					<h2>Jacob's Bar</h2>
				</div>
				<div class="icons">
					<img src="{{"images/sharing.png" | relURL }}" alt="sharing" class="sharing">
					<img src="{{"images/customize.svg" | relURL }}" alt="customize" class="customize">
				</div>
			</div>
			<div class="shelf-wrapper">
				<div class="block">
				</div>
				<div class="block">
				</div>
				<div class="block">
				</div>
				<div class="block">
				</div>
			</div>
			<div class="fixed-image">
				<img src="{{"images/collection/chair-table.png" | relURL }}" alt="customize" class="fixed-image--block">
			</div>
		</div>
	</div>

{{ end }}