{{ define "main" }}
<div class="product-detailed">
	<div class="shelf">
		<div class="shelf-block" rel="keep-params" data-title="Dalmore 12 Year">
			<h3 class="shelf-block--title">Dalmore 12 Year</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Hibiki">
			<h3 class="shelf-block--title">Hibiki Suntory Whisky</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Rich & Rare">
			<h3 class="shelf-block--title">Rich & Rare Reserve</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Macallan">
			<h3 class="shelf-block--title">Macallan 12 Years</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
		</div>

		<div class="shelf-block" rel="keep-params" data-title="Rich & Rare">
			<h3 class="shelf-block--title">Rich & Rare Reserve</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Dalmore 12 Year">
			<h3 class="shelf-block--title">Dalmore 12 Year</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Macallan">
			<h3 class="shelf-block--title">Macallan 12 Years</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block" rel="keep-params" data-title="Hibiki">
			<h3 class="shelf-block--title">Hibiki Suntory Whisky</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
		</div>


	</div>
	<!--slider -->
	<div class="shelf-block-bg">
		<div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel" data-interval="false">
		    <div class="carousel-inner shelf-block shelf-block--details">
		        <div class="carousel-item shelf-block--wrap wrap1">
		        	<div class="shelf-block--content-wrapper pointer-events-none">
				        <div class="shelf-block--label">
							<span class="tags">Whisky</span>
							<span class="tags">Single malt</span>
						</div>
						<h3 class="shelf-block--title">Dalmore 12 Year</h3>
						<p class="shelf-block--info">1965, Islay (Scotland)</p>
						<div class="description">
							<div class="price dram-price">Price per dram <span>140 GBP</span></div>
							<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
						</div>
					</div>
					<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
					<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="carousel-item shelf-block--wrap wrap2">
		        	<div class="shelf-block--content-wrapper pointer-events-none">
						<div class="shelf-block--label">
							<span class="tags">Whisky</span>
							<span class="tags">Single malt</span>
						</div>
						<h3 class="shelf-block--title">Hibiki Suntory Whisky</h3>
						<p class="shelf-block--info">1965, Islay (Scotland)</p>
						<div class="description">
							<div class="price dram-price">Price per dram <span>140 GBP</span></div>
							<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
						</div>
					</div>
					<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
					<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="carousel-item shelf-block--wrap wrap3">
		        	<div class="shelf-block--content-wrapper pointer-events-none">
			  			<div class="shelf-block--label">
							<span class="tags">Whisky</span>
							<span class="tags">Single malt</span>
						</div>
						<h3 class="shelf-block--title">Rich & Rare Reserve</h3>
						<p class="shelf-block--info">1965, Islay (Scotland)</p>
						<div class="description">
							<div class="price dram-price">Price per dram <span>140 GBP</span></div>
							<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
						</div>
					</div>
					<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
					<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="carousel-item shelf-block--wrap wrap4">
		        	<div class="shelf-block--content-wrapper pointer-events-none">
						<div class="shelf-block--label">
							<span class="tags">Whisky</span>
							<span class="tags">Single malt</span>
						</div>
						<h3 class="shelf-block--title">Macallan 12 Years</h3>
						<p class="shelf-block--info">1965, Islay (Scotland)</p>
						<div class="description">
							<div class="price dram-price">Price per dram <span>140 GBP</span></div>
							<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
						</div>
					</div>
					<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
					<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>
		    </div>
		</div>
		<div class="cartWrap hide">
			<div class="quantity">
				<div class="glasses">
					<div class="glass-wrap glass1">
						<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
						<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled active">
					</div>
					<div class="glass-wrap glass2">
						<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
						<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
					</div>
					<div class="glass-wrap glass3">
						<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
						<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
					</div>
					<div class="glass-wrap glass4">
						<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
						<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
					</div>
					<div class="glass-wrap glass5">
						<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
						<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
					</div>
				</div>
				<div class="quantity-container">
					<div class="quantity--count">
						<button class="minus inactive" type="button" value="-">-</button>
						<input type="text" name="qty" class="qty number" maxlength="5" value="1" class="input-text qty" readonly/>
						<button class="plus" type="button" value="+">+</button>
					</div>
				</div>
			</div>
			<div class="filled-buton button-wrapper ">
				<div class="price primary-button">
					<a href="javascript:void(0)">
						<span>Buy Maximum Units</span><br>
						<span class="unit">19,320 GBP</span>
					</a>
				</div>
				<div class="price primary-button primary-button--dark">
					<a href="javascript:void(0)">
						<span>Buy Drams</span><br>
						<span class="unit">140 GBP</span>
					</a>
				</div>
			</div>
		</div>
	    <div class="slide-dots">
	    	<span class="dot singleProd dot-active"></span>
	    	<span class="dot regionDetails"></span>
	    	<span class="dot dist1"></span>
	    	<span class="dot dist2"></span>
	    	<span class="dot bottleStory"></span>
	    	<span class="dot details"></span>
	    </div>

		<div class="vertical-slider hide">
		    <div class="shelf-block shelf-block--details">
		    	<div class="shadow hide"></div>
		        <div class="slide-item shelf-block--wrap wrap1">
		        	<div class="content">
			        	<div class="shelf-block--content-wrapper pointer-events-none">
					        <div class="shelf-block--label">
								<span class="tags">Whisky</span>
								<span class="tags">Single malt</span>
							</div>
							<h3 class="shelf-block--title">Dalmore 12 Year</h3>
							<p class="shelf-block--info">1965, Islay (Scotland)</p>
							<div class="description">
								<div class="price dram-price">Price per dram <span>140 GBP</span></div>
								<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
							</div>
						</div>
						<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
					</div>
					<div class="tabs">
						<div class="tab--name">
							<span class="region selected">Region</span>
							<span class="dest1">Distellery</span>
							<span class="dist2">Distellery</span>
							<span class="bottleStory">Bottle Story</span>
							<span class="details">Details</span>
						</div>
						<div class="button"><a href="javascript:void(0)" class="back-arrow"><img src="{{"images/back-arrow.png" | relURL }}" ></a></div>
						<a href="javascript:void(0)"><img src="{{"images/arrow-left.svg" | relURL }}" alt="arrow" class="arrow hide"></a>
					</div>

					<div class="shelf-block--region">
						<div class="region">
							<div class="map"></div>
							<div class="region_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery2">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<div class="rightbox">
									<div class="rb-container">
										<ul class="rb">
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1995</div>
												<div class="item-title">Production Begins</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1956 / 57</div>
												<div class="item-title">Acquired by Ocean Brand</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">Miraka Kiwaze Corp Opened disterllery factory.</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">The company acquired it’s present name of Merican.</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bottle_story">
							<div class="map"></div>
							<div class="bottle_story_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
			        </div>
	        		<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="slide-item shelf-block--wrap wrap2">
		        	<div class="content">
			        	<div class="shelf-block--content-wrapper pointer-events-none">
							<div class="shelf-block--label">
								<span class="tags">Whisky</span>
								<span class="tags">Single malt</span>
							</div>
							<h3 class="shelf-block--title">Hibiki</h3>
							<p class="shelf-block--info">1965, Islay (Scotland)</p>
							<div class="description">
								<div class="price dram-price">Price per dram <span>140 GBP</span></div>
								<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
							</div>
						</div>
						<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
					</div>
					<div class="tabs">
						<div class="tab--name">
							<span class="region selected">Region</span>
							<span class="dest1">Distellery</span>
							<span class="dist2">Distellery</span>
							<span class="bottleStory">Bottle Story</span>
							<span class="details">Details</span>
						</div>
						<div class="button"><a href="javascript:void(0)" class="back-arrow"><img src="{{"images/back-arrow.png" | relURL }}" ></a></div>
						<a href="javascript:void(0)"><img src="{{"images/arrow-left.svg" | relURL }}" alt="arrow" class="arrow hide"></a>
					</div>

					<div class="shelf-block--region">
						<div class="region">
							<div class="map"></div>
							<div class="region_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery2">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<div class="rightbox">
									<div class="rb-container">
										<ul class="rb">
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1995</div>
												<div class="item-title">Production Begins</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1956 / 57</div>
												<div class="item-title">Acquired by Ocean Brand</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">Miraka Kiwaze Corp Opened disterllery factory.</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">The company acquired it’s present name of Merican.</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bottle_story">
							<div class="map"></div>
							<div class="bottle_story_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
			        </div>
	        		<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="slide-item shelf-block--wrap wrap3">
		        	<div class="content">
			        	<div class="shelf-block--content-wrapper pointer-events-none">
				  			<div class="shelf-block--label">
								<span class="tags">Whisky</span>
								<span class="tags">Single malt</span>
							</div>
							<h3 class="shelf-block--title">Rich & Rare</h3>
							<p class="shelf-block--info">1965, Islay (Scotland)</p>
							<div class="description">
								<div class="price dram-price">Price per dram <span>140 GBP</span></div>
								<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
							</div>
						</div>
						<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
					</div>
					<div class="tabs">
						<div class="tab--name">
							<span class="region selected">Region</span>
							<span class="dest1">Distellery</span>
							<span class="dist2">Distellery</span>
							<span class="bottleStory">Bottle Story</span>
							<span class="details">Details</span>
						</div>
						<div class="button"><a href="javascript:void(0)" class="back-arrow"><img src="{{"images/back-arrow.png" | relURL }}" ></a></div>
						<a href="javascript:void(0)"><img src="{{"images/arrow-left.svg" | relURL }}" alt="arrow" class="arrow hide"></a>
					</div>

					<div class="shelf-block--region">
						<div class="region">
							<div class="map"></div>
							<div class="region_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery2">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<div class="rightbox">
									<div class="rb-container">
										<ul class="rb">
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1995</div>
												<div class="item-title">Production Begins</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1956 / 57</div>
												<div class="item-title">Acquired by Ocean Brand</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">Miraka Kiwaze Corp Opened disterllery factory.</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">The company acquired it’s present name of Merican.</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bottle_story">
							<div class="map"></div>
							<div class="bottle_story_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
			        </div>
	        		<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>

		        <div class="slide-item shelf-block--wrap wrap4">
		        	<div class="content">
			        	<div class="shelf-block--content-wrapper pointer-events-none">
							<div class="shelf-block--label">
								<span class="tags">Whisky</span>
								<span class="tags">Single malt</span>
							</div>
							<h3 class="shelf-block--title">Macallan</h3>
							<p class="shelf-block--info">1965, Islay (Scotland)</p>
							<div class="description">
								<div class="price dram-price">Price per dram <span>140 GBP</span></div>
								<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
							</div>
							</div>
						<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
					</div>
					<div class="tabs">
						<div class="tab--name">
							<span class="region selected">Region</span>
							<span class="dest1">Distellery</span>
							<span class="dist2">Distellery</span>
							<span class="bottleStory">Bottle Story</span>
							<span class="details">Details</span>
						</div>
						<div class="button"><a href="javascript:void(0)" class="back-arrow"><img src="{{"images/back-arrow.png" | relURL }}" ></a></div>
						<a href="javascript:void(0)"><img src="{{"images/arrow-left.svg" | relURL }}" alt="arrow" class="arrow hide"></a>
					</div>

					<div class="shelf-block--region">
						<div class="region">
							<div class="map"></div>
							<div class="region_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
						<div class="disterllery2">
							<div class="map-disterllery"></div>
							<div class="disterllery_details">
								<div class="rightbox">
									<div class="rb-container">
										<ul class="rb">
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1995</div>
												<div class="item-title">Production Begins</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1956 / 57</div>
												<div class="item-title">Acquired by Ocean Brand</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">Miraka Kiwaze Corp Opened disterllery factory.</div>
											</li>
											<li class="rb-item" ng-repeat="itembx">
												<div class="timestamp">1959</div>
												<div class="item-title">The company acquired it’s present name of Merican.</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="bottle_story">
							<div class="map"></div>
							<div class="bottle_story_details">
								<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
							</div>
						</div>
			        </div>
	        		<div class="podium">
						<div class="price">
							<h5>Buy Drams<span>140 GBP</span></h5>
						</div>
						<div class="share">
							<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
						</div>
					</div>
		        </div>
		    </div>
		</div>


		<div class="bottle-details hide">
			<div class="wrap wrap4">
				<div class="shelf-block--label">
					<span class="tags">Whisky</span>
					<span class="tags">Single malt</span>
				</div>
				<h3 class="shelf-block--title">Macallan</h3>
				<p class="shelf-block--info">1965, Islay (Scotland)</p>
				<div class="description">
					<div class="price dram-price">Price per dram <span>140 GBP</span></div>
					<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
				</div>
			</div>
			<div class="header">
				<h3 class="title">Bottle details</h3>
				<a href="">
					<img src="{{"images/arrow-down.svg" | relURL }}" alt="related-reports" title="related-reports">
					Related reports
				</a>
			</div>
			<div class="info">Semi dumpy green bottle, gold wax seal with gold tear-string. In original glass Museum case on black plinth with lid. Also with 5cl miniature bottle.</div>
			<div class="tags">
				<div class="tag">
					<h5 class="name">Spirit</h5>
					<p class="type">Whisky</p>
				</div>
				<div class="tag">
					<h5 class="name">Vintage</h5>
					<p class="type">1965</p>
				</div>
				<div class="tag">
					<h5 class="name">Type</h5>
					<p class="type">Single Malt</p>
				</div>
				<div class="tag">
					<h5 class="name">Age</h5>
					<p class="type">39 Years</p>
				</div>
				<div class="tag">
					<h5 class="name">Country</h5>
					<p class="type">Scotland</p>
				</div>
				<div class="tag">
					<h5 class="name">No if Bottles</h5>
					<p class="type">1 out of 261</p>
				</div>
				<div class="tag">
					<h5 class="name">Region</h5>
					<p class="type">Region</p>
				</div>
				<div class="tag">
					<h5 class="name">Volume</h5>
					<p class="type">700 ml</p>
				</div>
				<div class="tag">
					<h5 class="name">Distiller</h5>
					<p class="type">Ardbeg</p>
				</div>
				<div class="tag">
					<h5 class="name">Bottler</h5>
					<p class="type">Own Bottling</p>
				</div>
				<div class="tag">
					<h5 class="name">ABV</h5>
					<p class="type">42.1%</p>
				</div>
					<div class="tag">
					<h5 class="name">Cask</h5>
					<p class="type">3678 & 3679</p>
				</div>			
			</div>
			<div class="info">Colouring The palate is intensely oaky, with rich wood spices, orange zest, root ginger and hints of something peaty</div>
			<div class="info">Why Invest?  The palate is intensely oaky, with rich wood spices, orange zest, root ginger and hints of something peaty</div>

			<h3 class="title price-title section-title">Price</h3>
			<div class="pricing tags">
				<div class="price tag">
					<h5 class="name">Price Per DRAM (5ml)</h5>
					<p class="type">140 GBP</p>
				</div>
				<div class="price tag">
					<h5 class="name">No of DRAMS</h5>
					<p class="type">140</p>
				</div>
				<div class="price tag">
					<h5 class="name">Bottle Price</h5>
					<p class="type">19320 GBP</p>
				</div>
				<div class="price tag">
					<h5 class="name">Retail Price</h5>
					<p class="type">24500 GBP</p>
				</div>
			</div>
			<h4 class="section-title">Comments</h4>
			<form class="comment-box">
				<textarea class="form-control msg" style="resize: none;" id="message" name="message" rows="3" placeholder="Write a comment" spellcheck="false"></textarea>
				<button class="submit">Post</button>
			</form>
			<div class="comments">
				<div class="comments-block">
					<div class="name">B</div>
					<div class="message">
						<h5>Bruce Christensen</h5>
						<p>Saturated. Canned peaches, cocoa, nuts, motor oil, a little minerality, and a light trail of burnt wiring.</p>
						<span class="time">2 hours ago</span>
						<div class="dots">...</div>
					</div>
				</div>
				<div class="comments-block">
					<div class="name">S</div>
					<div class="message">
						<h5>Samantha Mills</h5>
						<p>Rounded, despite the high degree. Dried fruits, cherry jam, honey, light technical tones.</p>
						<span class="time">6 days ago</span>
						<div class="dots">...</div>
					</div>
				</div>
				<div class="comments-block">
					<div class="name">W</div>
					<div class="message">
						<h5>William Edwards</h5>
						<p>Long. Bitter chocolate, nuts, honey, cherries.</p>
						<span class="time">3 months ago</span>
						<div class="dots">...</div>
					</div>
				</div>
				<div class="mt-3">
					<a href="javascript:void(0)" class="link">View all comments</a>
				</div>
			</div>
			<div class="filled-buton floating-btn">
				<div class="price primary-button">
					<a href="javascript:void(0)">
						<span>Buy Maximum Units</span><br>
						<span class="unit">19,320 GBP</span>
					</a>
				</div>
				<div class="price primary-button primary-button--dark">
					<a href="javascript:void(0)">
						<span>Buy Drams</span><br>
						<span class="unit">140 GBP</span>
					</a>
				</div>
			</div>
		</div>
		<div class="cart-wrapper hide">
			<div class="drams-details">
				<h4 class="section-title">How many drams would you like to buy?</h4>
				<div class="price section-title">19,320 GBP </div>
				<div class="quantity">
					<div class="glasses">
						<div class="glass-wrap glass1">
							<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
							<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled active">
						</div>
						<div class="glass-wrap glass2">
							<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
							<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
						</div>
						<div class="glass-wrap glass3">
							<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
							<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
						</div>
						<div class="glass-wrap glass4">
							<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
							<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
						</div>
						<div class="glass-wrap glass5">
							<img src="{{"images/glass.svg" | relURL }}" alt="glass" class="glass">
							<img src="{{"images/glass_filled.svg" | relURL }}" alt="glass" class="glass glass-filled">
						</div>
					</div>
					<div class="quantity-container">
						<div class="quantity--count">
							<button class="minus inactive" type="button" value="-">-</button>
							<input type="text" name="qty" class="qty number" maxlength="5" value="1" class="input-text qty" readonly/>
							<button class="plus" type="button" value="+">+</button>
						</div>
					</div>
				</div>
			</div>
			<div class="cart--buttons">
				<div class="primary-button--dark primary-button">
					<a href="javascript:void(0)">Buy Drams 140 GBP</a>
				</div>
				<div class="primary-button">
					<a href="javascript:void(0)">Buy Maximum Units 19,320 GBP </a>
				</div>
			</div>
		</div>
		<div class="congratulations hide">
			<div class="congratulate_bg">
				<div class="success-check">
					<img src="{{"images/tick.svg" | relURL }}" alt="tick" class="tick">
				</div>
				<div class="congatulate-text">	
					<img src="{{"images/congratulation-text.svg" | relURL }}" alt="congratulations" class="text">
					<p class="drams">You are now a  proud owner of the 
					<span class="drams--count">3 Drams of</span></p>
				</div>
				<h4 class="name">Jack Daniels</h4>
				<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
				<div class="outline-button" style="display: none;">
					<a href="javascript:void(0)">See in My Bar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="vertical-slider-desktop hide">
		<div class="swiper-container">
			<div class="tab_option">
				<ul class="tab_option--block">
					<li class="item active bottle-story">Bottle Story</li>
					<li class="item disterllery">Distellery</li>
					<li class="item region">Region</li>
					<li class="item bottle-details-wrapper">Details</li>
				</ul>
			</div>
	        <div class="swiper-wrapper">
	            <div class="swiper-slide bottle-story">
	            	<div class="swiper-slide--content">
		            	<div class="map">
		            		<img src="{{"images/scotland_dark.png" | relURL }}" alt="scotland" class="map-image">
		            	</div>
		            	<div class="details">
		            		<div class="section-title">Scotland</div>
		            		<div class="section-info">
		            		There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries. 
		            		</div>
		            	</div>
	            	</div>
	            </div>
	            <div class="swiper-slide disterllery">
	            	<div class="swiper-slide--content">
		            	<div class="map">
		            		<img src="{{"images/scotland_dark.png" | relURL }}" alt="scotland" class="map-image">
		            	</div>
		            	<div class="details">
		            		<div class="section-title">Scotland</div>
		            		<div class="section-info">
		            		There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries. 
		            		</div>
		            	</div>
	            	</div>
	            </div>
	            <div class="swiper-slide region">
	            	<div class="swiper-slide--content">
		            	<div class="map">
		            		<img src="{{"images/scotland_dark.png" | relURL }}" alt="scotland" class="map-image">
		            	</div>
		            	<div class="details">
		            		<div class="section-title">Scotland</div>
		            		<div class="section-info">
		            		There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries. 
		            		</div>
		            	</div>
	            	</div>		            
            	</div>
	            <div class="swiper-slide bottle-details bottle-details-wrapper">
					<div class="header">
						<h3 class="title">Bottle Details</h3>
						<a href="">
							<img src="{{"images/arrow-down.svg" | relURL }}" alt="related-reports" title="related-reports">
							Related reports
						</a>
					</div>
					<div class="info">Semi dumpy green bottle, gold wax seal with gold tear-string. In original glass Museum case on black plinth with lid. Also with 5cl miniature bottle.</div>
					<div class="tags">
						<div class="tag">
							<h5 class="name">Spirit</h5>
							<p class="type">Whisky</p>
						</div>
						<div class="tag">
							<h5 class="name">Vintage</h5>
							<p class="type">1965</p>
						</div>
						<div class="tag">
							<h5 class="name">Type</h5>
							<p class="type">Single Malt</p>
						</div>
						<div class="tag">
							<h5 class="name">Age</h5>
							<p class="type">39 Years</p>
						</div>
						<div class="tag">
							<h5 class="name">Country</h5>
							<p class="type">Scotland</p>
						</div>
						<div class="tag">
							<h5 class="name">No if Bottles</h5>
							<p class="type">1 out of 261</p>
						</div>
						<div class="tag">
							<h5 class="name">Region</h5>
							<p class="type">Region</p>
						</div>
						<div class="tag">
							<h5 class="name">Volume</h5>
							<p class="type">700 ml</p>
						</div>
						<div class="tag">
							<h5 class="name">Distiller</h5>
							<p class="type">Ardbeg</p>
						</div>
						<div class="tag">
							<h5 class="name">Bottler</h5>
							<p class="type">Own Bottling</p>
						</div>
						<div class="tag">
							<h5 class="name">ABV</h5>
							<p class="type">42.1%</p>
						</div>
							<div class="tag">
							<h5 class="name">Cask</h5>
							<p class="type">3678 & 3679</p>
						</div>			
					</div>
					<h3 class="section-title">Details</h3>
					<div class="info">Semi dumpy green bottle, gold wax seal with gold tear-string. In original glass Museum case on black plinth with lid. Also with 5cl miniature bottle. Semi dumpy green bottle, gold wax seal with gold tear-string. In original glass Museum case on black plinth with lid. Also with 5cl miniature bottle.</div>

					<h3 class="title price-title section-title">Price</h3>
					<div class="pricing tags">
						<div class="price tag">
							<h5 class="name">Price Per DRAM (5ml)</h5>
							<p class="type">140 GBP</p>
						</div>
						<div class="price tag">
							<h5 class="name">No of DRAMS</h5>
							<p class="type">140</p>
						</div>
						<div class="price tag">
							<h5 class="name">Bottle Price</h5>
							<p class="type">19320 GBP</p>
						</div>
						<div class="price tag">
							<h5 class="name">Retail Price</h5>
							<p class="type">24500 GBP</p>
						</div>
					</div>
					<h4 class="section-title">Comments</h4>
					<form class="comment-box">
						<textarea class="form-control msg" style="resize: none;" name="message" rows="3" placeholder="Write a comment" spellcheck="false"></textarea>
						<button class="submit">Post Comment</button>
					</form>
					<div class="comments">
						<div class="comments-block">
							<div class="name">B</div>
							<div class="message">
								<h5>Bruce Christensen</h5>
								<p>Saturated. Canned peaches, cocoa, nuts, motor oil, a little minerality, and a light trail of burnt wiring.</p>
								<span class="time">2 hours ago</span>
								<div class="dots">...</div>
							</div>
						</div>
						<div class="comments-block">
							<div class="name">S</div>
							<div class="message">
								<h5>Samantha Mills</h5>
								<p>Rounded, despite the high degree. Dried fruits, cherry jam, honey, light technical tones.</p>
								<span class="time">6 days ago</span>
								<div class="dots">...</div>
							</div>
						</div>
						<div class="comments-block">
							<div class="name">W</div>
							<div class="message">
								<h5>William Edwards</h5>
								<p>Long. Bitter chocolate, nuts, honey, cherries.</p>
								<span class="time">3 months ago</span>
								<div class="dots">...</div>
							</div>
						</div>
						<div class="mt-3">
							<a href="javascript:void(0)" class="link">View all comments</a>
						</div>
					</div>
	            </div>
	        </div>
	        <!-- Add Pagination -->
    		<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="congratulations congratulations-desktop hide">
			<div class="congratulate_bg">
				<div class="contenWrapper">
					<div class="success-check">
						<img src="{{"images/tick.svg" | relURL }}" alt="tick" class="tick">
					</div>
					<div class="congatulate-text">	
						<img src="{{"images/congratulation-text.svg" | relURL }}" alt="congratulations" class="text">
						<p class="drams">You are now a  proud owner of the 
						<span class="drams--count">3 Drams of</span></p>
					</div>
					<h4 class="name">Macallan</h4>
					<div class="outline-button">
						<a href="javascript:void(0)">See in My Bar</a>
					</div>
					<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
				</div>
			</div>
		</div>
</div>

{{ end }}