{{ define "main" }}
<div class="product-detailed">
	<div class="shelf">
		<div class="shelf-block">
			<h3 class="shelf-block--title">Dalmore 12 Year</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block">
			<h3 class="shelf-block--title">Hibiki</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block">
			<h3 class="shelf-block--title">Rich & Rare</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
		</div>
		<div class="shelf-block">
			<h3 class="shelf-block--title">Macallan</h3>
			<p class="shelf-block--info">1965, Islay (Scotland)</p>
			<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
		</div>
	</div>
	<!--slider -->

	<div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel" data-interval="false">
	    <div class="carousel-inner shelf-block shelf-block--details">
	        <div class="carousel-item shelf-block--wrap wrap1">
	        	<div class="pointer-events-none">
			        <div class="shelf-block--label">
						<span class="tags">Whisky</span>
						<span class="tags">Single malt</span>
					</div>
					<h3 class="shelf-block--title">Dalmore 12 Year</h3>
					<p class="shelf-block--info">1965, Islay (Scotland)</p>
					<div class="description">
						<div class="price dram-price">Price per dram <span>140 GBP</span></div>
						<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
					</div>
				</div>
				<img src="{{"images/dalmore.png" | relURL }}" alt="dalmore" class="wine-bottle shelf-block--picture">
	        </div>

	        <div class="carousel-item shelf-block--wrap wrap2">
	        	<div class="pointer-events-none">
					<div class="shelf-block--label">
						<span class="tags">Whisky</span>
						<span class="tags">Single malt</span>
					</div>
					<h3 class="shelf-block--title">Hibiki</h3>
					<p class="shelf-block--info">1965, Islay (Scotland)</p>
					<div class="description">
						<div class="price dram-price">Price per dram <span>140 GBP</span></div>
						<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
					</div>
				</div>
				<img src="{{"images/hibiki.png" | relURL }}" alt="hibiki" class="wine-bottle shelf-block--picture">
	        </div>

	        <div class="carousel-item shelf-block--wrap wrap3">
	        	<div class="pointer-events-none">
		  			<div class="shelf-block--label">
						<span class="tags">Whisky</span>
						<span class="tags">Single malt</span>
					</div>
					<h3 class="shelf-block--title">Rich & Rare</h3>
					<p class="shelf-block--info">1965, Islay (Scotland)</p>
					<div class="description">
						<div class="price dram-price">Price per dram <span>140 GBP</span></div>
						<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
					</div>
				</div>
				<img src="{{"images/rich-rare.png" | relURL }}" alt="rich-&-rare" class="wine-bottle shelf-block--picture">
	        </div>

	        <div class="carousel-item shelf-block--wrap wrap4">
	        	<div class="pointer-events-none">
					<div class="shelf-block--label">
						<span class="tags">Whisky</span>
						<span class="tags">Single malt</span>
					</div>
					<h3 class="shelf-block--title">Macallan</h3>
					<p class="shelf-block--info">1965, Islay (Scotland)</p>
					<div class="description">
						<div class="price dram-price">Price per dram <span>140 GBP</span></div>
						<div class="price bottle-price">Bottle price <span>19,320 GBP</span></div>
					</div>
				</div>
				<img src="{{"images/macallan.png" | relURL }}" alt="macallan" class="wine-bottle shelf-block--picture">
				<div class="shelf-block--region">
					<div class="tabs">
						<ul>
							<li class="active">Region</li>
							<li>Distellery</li>
							<li>Bottle story</li>
							<li>Details</li>
						</ul>
					</div>
					<div class="region">
						<div class="map"></div>
						<div class="region_details">
							<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
						</div>
					</div>
					<div class="disterllery">
						<div class="map-disterllery"></div>
						<div class="region_details">
							<p>There are currently nine working distilleries on Islay. The first recorded distillery was Bowmore, founded in 1779. Islay’s distilleries are spread across the island- Ardbeg, Lagavulin and Laphroaig are collectively known as the Kildalton Distilleries.</p>
						</div>
					</div>
		        </div>
	        </div>
	    </div>
		<div class="podium">
			<div class="price">
				<h5>Buy Drams<span>£ 500.5 / unit</span></h5>
			</div>
			<div class="share">
				<img src="{{"images/share.svg" | relURL }}" alt="share" class="share">
			</div>
		</div>
	</div>

</div>

{{ end }}