<footer class="hide">
	<div class="footer-menu ">
		<ul class="menu-items">
			<li class="item">About us</li>
			<li class="item">FAQs</li>
			<li class="item">Contact Us</li>
			<li class="item">Terms & Conditions</li>
		</ul>
	</div>
	<div class="social-share">
		<img src="{{"images/fb.svg" | relURL }}">
		<img src="{{"images/youtube.svg" | relURL }}">
		<img src="{{"images/twitter.svg" | relURL }}">
		<img src="{{"images/insta.svg" | relURL }}">
		
	</div>
</footer>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/austenpayan/rollerblade/416da2f4/rollerblade.css">
<script src="{{"js/modernizr.js" | relURL}}"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{"js/jquerySwipeHandler.js" | relURL}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
 <script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.js"></script>
 <script type="text/javascript" src="https://code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
 <script src="{{"js/main.js" | relURL}}"></script>
<script src="{{"js/app.js" | relURL}}"></script>