<head>

	<title>{{ $.Params.title }} - Bottle Bits</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<meta property="og:image" content="https://ankitasangodkar.github.io/BottleBits-3.0/docs/images/sharing.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1024">
	<meta property="og:image:height" content="1024">
	<link type="image/x-icon" href="#" rel="shortcut icon">
	<!-- CSS-->
		{{ if .Site.IsServer }}
			{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
			<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
		{{ else }}
			{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
			<link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
		{{ end }}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>