<header>
	<div class="d-flex justify-content-between align-items-center header-wrapper">
		<div class="site-title">
			<a href=""><img src="{{"images/logo.svg" | relURL }}" alt="BottleBits" class="BottleBits"></a>
		</div>
		<div class="main-menu">
			<div class="navbar-right">
				<div class="menu_list">
					<ul class="menu_list--items">
						<li class="item active"><a href="javascript:void(0)">Home</a></li>
						<li class="item"><a href="javascript:void(0)">Inventory</a></li>
						<li class="item"><a href="javascript:void(0)">About us</a></li>
						<li class="item"><a href="javascript:void(0)">Contact us</a></li>
					</ul>
				</div>
				<div class="icons">
					<a href=""><img src="{{"images/search.svg" | relURL }}" alt="search" class="sc-icon logo"></a>
					<a href=""><img src="{{"images/bottles.svg" | relURL }}" alt="inventory" class="logo"></a>
				</div>
			</div>
		</div>
		<div class="mobile-menu">
			<div class="hamburger-wrap">			
				<div class="hamburger-wrap__block">
					<div class="bar line1"></div>
					<div class="bar line2"></div>
					<div class="bar line3"></div>
				</div>
			</div>
			<a id="title" href="javascript:void(0)" class="link">Home</a>
			<div class="mobile-menu--overlay">
				<div class="cross"></div>
				<ul class="menu_list--items">
					<li class="item active"><a href="javascript:void(0)">Home</a></li>
					<li class="item"><a href="javascript:void(0)">About Us</a></li>
					<li class="item"><a href="javascript:void(0)">Inventory</a></li>
					<li class="item"><a href="javascript:void(0)">FAQ</a></li>
					<li class="item"><a href="javascript:void(0)">Home</a></li>
					<li class="item"><a href="javascript:void(0)">Contact Us</a></li>
					<li class="item"><a href="javascript:void(0)">Code Of Conduct</a></li>
					<li class="item"><a href="javascript:void(0)">Register/ Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>