<header>
	<div class="d-flex justify-content-between align-items-center header-wrapper">
		<div class="hamburger-wrap">			
			<div class="hamburger-wrap__block">
				<div class="bar line1"></div>
				<div class="bar line2"></div>
				<div class="bar line3"></div>
			</div>
		</div>
		<a id="title" href="javascript:void(0)" class="link">Home</a>
		<div class="navbar-right account">
			<a href=""><img src="{{"images/search.svg" | relURL }}" alt="search" class="logo"></a>
			<a href=""><img src="{{"images/bottles.svg" | relURL }}" alt="inventory" class="logo"></a>
		</div>
	</div>
</header>