<head>

	<title>{{ $.Params.title }} - Bottle Bits</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<link type="image/x-icon" href="{{ "img/favicon.ico" | relURL}}" rel="shortcut icon">
	<!-- CSS-->
		{{ if .Site.IsServer }}
			{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
			<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
		{{ else }}
			{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
			<link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
		{{ end }}
</head>