.my-collection{
	padding-top: 80px;
	.shelf{
		background-color: black;
    	position: relative;
    	z-index: 9;
		.info-tab{
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    padding: 8px 16px;
		    background-image: url(../images/collection/title-bar.jpg);
		    background-repeat: no-repeat;
	        background-size: cover;
    		width: 100%;
	        transition: background-image 300ms $ease-in-out;
	        &.green{
	        	background-image: url(../images/collection/title-bar-green.jpg);
	        	transition: background-image 300ms $ease-in-out;
	        	@media(min-width: 768px){
	        		background-image: none;
	        	}
	        }
	        &.yellow{
	        	background-image: url(../images/collection/title-bar-yellow.jpg);
	        	transition: background-image 300ms $ease-in-out;
	        	@media(min-width: 768px){
	        		background-image: none;
	        	}
	        }
		    .title{
		    	h2{
					font-family: "AbhayaLibre-Bold";
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;
					color: #000000;
					text-shadow: 0px 1px 0px rgba(249, 213, 144, 0.4);
					margin: 0;
		    	}
		    }
		    img{
		    	cursor: pointer;
		    }
		    @media(min-width: 768px){
	            padding: 8px 10px;
    			background-image: none;
    			margin-top: -15px;
		    }
		}
		.picture{
			filter: drop-shadow(10px 0px 15px rgba(0, 0, 0, 0.4));
			-webkit-filter: drop-shadow(10px 0px 15px rgba(0, 0, 0, 0.4));
			cursor: pointer;
		}
		.collection-blocks{
		    margin-bottom: 230px;
			.shelf-wrapper{
			    display: flex;
			    flex-wrap: wrap;
			    position: relative;
				.block{
					background-image: url(../images/collection/shelf-texture.png);
				    background-repeat: round;
				    background-size: contain;
				    background-position-y: top;
				    height: 383px;
					width: 50%;
					position: relative;
					margin-top: -3px;
					display: flex;
					flex-wrap: wrap;
					cursor: pointer;
			        transition: background-image 300ms $ease-in-out;
			        &.green{
			        	background-image: url(../images/collection/shelf-texture-green.png);
			        	transition: background-image 300ms $ease-in-out;
			        	&:nth-child(odd){
							&:before{
								background-image: url(../images/collection/side-support-green.jpg);
				        		transition: background-image 300ms $ease-in-out;
							}
						}
						&:nth-child(even){
							&:before{
								background-image: url(../images/collection/side-support-green.jpg);
				        		transition: background-image 300ms $ease-in-out;
							}
						}	
			        }
			        &.yellow{
			        	background-image: url(../images/collection/shelf-texture-yellow.png);
			        	transition: background-image 300ms $ease-in-out;
			        	&:nth-child(odd){
							&:before{
								background-image: url(../images/collection/side-support-yellow.jpg);
				        		transition: background-image 300ms $ease-in-out;
							}
						}
						&:nth-child(even){
							&:before{
								background-image: url(../images/collection/side-support-yellow.jpg);
				        		transition: background-image 300ms $ease-in-out;
							}
						}
						&:after{
							background-image: url(../images/collection/center-support-green.jpg);
			        		transition: background-image 300ms $ease-in-out;
						}	
			        }
					&:nth-child(odd){
						&:before{
							content: '';
							position: absolute;
							background-image: url(../images/collection/side-support.jpg);
							height: 384px;
							width: 30px;
							background-size: cover;
							background-repeat: no-repeat;
							top: -10px;
							left: -8px;
							z-index: -2;
					        transition: background-image 300ms $ease-in-out;
							@media(min-width: 768px){
								height: 562px;
							}
						}
					}
					&:nth-child(even){
						&:before{
							content: '';
							position: absolute;
							background-image: url(../images/collection/side-support.jpg);
							height: 384px;
							width: 30px;
							background-size: cover;
							background-repeat: no-repeat;
							top: -10px;
							right: 0px;
							z-index: -2;
							transition: background-image 300ms $ease-in-out;
							@media(min-width: 768px){
								height: 562px;
							}
						}
					}
					.large-block{
						height: 47%;
						display: block;
						width: 100%;
						position: relative;
						&.product-images{
							display: flex;
							justify-content: space-evenly;
							align-items: flex-end;
							position: relative;
							bottom: 13px;
							margin: auto;

							.picture{
								height: 100px;
							    margin: 0 5px;
							    &.large{
							    	height: 134px;
							    	@media(max-width: 375px){
							    		height: 90px;
							    	}
							    }
								@media(max-width: 375px){
									height: 65px;
								}
							}
							@media(max-width: 1450px){
								bottom: 0;
							}
							@media(max-width: 1200px){
								bottom: -7px;
							}
							@media(max-width: 767px){
								bottom: 1px;
							}
							@media(max-width: 375px){
							    bottom: -10px;
							}
							
						}
						@media(max-width: 375px){
							height: 42.5%;
							bottom: 0;
						}
						@media(min-width: 1200px){
							height: 43%;
						}
						@media(min-width: 768px){
							height: 45%;
						}

					}
					@media(max-width: 375px){
						background-repeat: no-repeat;
						height: 248px;
						width: 50%;
						position: relative;
						margin-top: -4px;
					}
					@media(max-width: 2400px){
						height: 618px;
						background-repeat: no-repeat;
					}
					@media(max-width: 1806px){
						height: 530px;
						background-repeat: no-repeat;
					}
					@media(max-width: 1706px){
						height: 495px;
						background-repeat: round;
					}
					@media(max-width: 1200px){
						height: 365px;
					}
				}
				.border-image{
					&--square{
						position: relative;
						.icon{
							position: absolute;
							left: 0;
							right: 0;
							margin: auto;
							top: 88px;
							@media(max-width: 375px){
							    top: 90px;
							    left: 3px;
							}
							@media(min-width: 768px) and (max-width: 1200px){
								top: 98px;
							}
							@media(min-width: 1201px){
								top: 115px;
							}
						}
						&:before{
							content: '';
						    border: 1px dashed #412303;
						    border-top: 0;
						    height: 125px;
						    width: calc(100% - 40px);
						    position: absolute;
						    left: 22px;
						    right: 0;
						    top: 17px;
						    bottom: 0;
						    @media(max-width: 1200px) {
							    height: 136px;
							    left: 20px;
							    top: 34px;
						    }
						    @media(max-width: 767px) {
						    	top: 25px;
						    }
						    @media(max-width: 375px){
						    	top: 33px;
						    }
						    @media(min-width: 1201px) and (max-width: 1769px){
							    width: calc(100% - 50px);
							    height: 168px;
							    left: 28px;
							    top: 40px;
					    	}
						    @media(min-width: 1770px){
					    	    width: calc(100% - 69px);
						    	height: 218px;
						    	left: 34px;
						    }
						}
						&:after{
							content: '';
							border: 1px dashed #B68149;
							height: 132px;
							width: calc(100% - 36px);
							position: absolute;
							left: 20px;
							right: 0;
							top: 12px;
							bottom: 0;

				    		@media(max-width: 1200px) {
							    height: 136px;
							    left: 18px;
							    top: 36px;
						    }
						    @media(max-width: 767px) {
						    	top: 27px;
						    }
							@media(max-width: 375px){
						    	top: 35px;
						    }
						    @media(min-width: 1201px) and (max-width: 1769px){
								width: calc(100% - 46px);
								height: 169px;
								left: 26px;
								top: 40px;
					    	}
						    @media(min-width: 1770px){
					    	    width: calc(100% - 66px);
						    	height: 226px;
						    	left: 33px;
						    }
						}
					}
					&--rectangle{
						.icon{
							position: absolute;
							left: 0;
							right: 0;
							margin: auto;
							top: 75px;
							@media(max-width: 375px){
								top: 80px;
							}
							@media(min-width: 768px) and (max-width: 1200px){
								top: 80px;
							}
							@media(min-width: 1201px){
								top: 110px;
							}
						}
						&:before{
							content: '';
						    border: 1px dashed #412303;
						    border-top: 0;
						    height: 140.5px;
						    width: calc(100% - 40px);
						    position: absolute;
						    left: 22px;
						    right: 0;
						    top: 17px;
						    bottom: 0;
						    @media(max-width: 375px){
						    	top: 20px;
						    }
						    @media(min-width: 768px) and (max-width: 1200px){
								width: calc(100% - 45px);
								height: 140px;
								left: 23px;
								top: 18px;
						    }
					     	@media(min-width: 1201px) and (max-width: 1769px){
								width: calc(100% - 48px);
								height: 169px;
								left: 26px;
								top: 40px;
					    	}
						    @media(min-width: 1770px){
					    	    width: calc(100% - 76px);
						    	height: 253px;
						    	left: 40px;
						    }
						}
						&:after{
							content: '';
							border: 1px dashed #B68149;
							height: 148px;
							width: calc(100% - 36px);
							position: absolute;
							left: 20px;
							right: 0;
							top: 12px;
							bottom: 0;
							@media(max-width: 375px){
						    	top: 16px;
						    }
					    	@media(min-width: 768px) and (max-width: 1200px){
								width: calc(100% - 45px);
								height: 140px;
								left: 23px;
								top: 18px;
						    }
					     	@media(min-width: 1201px) and (max-width: 1769px){
								width: calc(100% - 43px);
								height: 190px;
								left: 23px;
								top: 22px
					    	}
						    @media(min-width: 1770px){
					    	    width: calc(100% - 72px);
						    	height: 260px;
						    	left: 38px;
						    }
						}
					}
				}
				.small-block{
					&--child1{
						height: 156px;
	    				width: 50%;
	    				position: relative;
	    				@media(max-width: 375px){
	    					height: 115px;
	    				}
	    				@media(min-width: 768px){
	    					height: 220px;
	    				}
					}
					&--child2{
						height: 156px;
	    				width: 50%;
	    				position: relative;
						.picture{
							height: 100px;
							position: absolute;
							bottom: 0;
							margin: auto;
							left: 0;
							right: 0;
							&.large{
								height: 134px;
								@media(max-width: 375px){
								    height: 90px;
								    bottom: 14px;
								}
							}
							@media(max-width: 767px){
							    bottom: 22px;
							}
							@media(max-width: 375px){
							    height: 70px;
							    bottom: 12px;
							}
							@media(min-width: 768px){
	    						bottom: 13px;
	    					}
    						@media(min-width: 1500px){
	    						bottom: -13px;
	    					}
						}
						@media(max-width: 375px){
	    					height: 115px;
	    				}
	    				@media(max-width: 767px){
	    					height: 154px;
	    				}
	    				@media(max-width: 1200px){
							height: 191px;
						}
	    				@media(min-width: 1201px){
	    					height: 235px;
	    				}
					}
				}
				&:after{
					content:'';
				    position: absolute;
				    background-image: url(../images/collection/center-support.jpg);
				    background-repeat: repeat-y;
				    background-size: contain;
				    left: calc(50% - 15px);
				    top: -2px;
				    height: 100%;
				    width: 30px;
				    z-index: -1;			
				}
				&.green{
					&:after{
						background-image: url(../images/collection/center-support-green.jpg);
		        		transition: background-image 300ms $ease-in-out;
					}	
				}
				&.yellow{
					&:after{
						background-image: url(../images/collection/center-support-yellow.jpg);
		        		transition: background-image 300ms $ease-in-out;
					}	
				}
				@media(min-width: 768px){
					margin-bottom: 0;
				    width: 50%;
				}
			}
			@media(max-width: 375px){
				margin-bottom: 230px;
			}
			@media(min-width: 768px){
				display: flex;
    			flex-wrap: wrap;
			    background-image: url(../images/collection/my-bar.jpg);
			    width: 100%;
		        padding: 15px 70px 70px;
	            margin-bottom: 0;
	            transition: background-image 300ms $ease-in-out;
	            &.green{
	            	background-image: url(../images/collection/my-bar-green.jpg);
	            	transition: background-image 300ms $ease-in-out;
	            }
	            &.yellow{
	            	background-image: url(../images/collection/my-bar-yellow.jpg);
	            	transition: background-image 300ms $ease-in-out;
	            }
			}
		}
		&-wrapper--expanded{
			margin-bottom: 0;
		    flex-wrap: nowrap;
			transition: margin-bottom 200ms $ease-out;
			.info-tab{
				a.back-to-main-shelf{
					display: block;
					img{
						padding-right: 10px;
					    padding-bottom: 2px;
					}
					&:hover{
					    text-decoration: none;
					}
				}
			}
			.block{
				position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    z-index: 1;
			    opacity: 0;
				&.active-block{
					background-image: url(../images/collection/shelf-texture-expanded.jpg);
					width: 100%;
					background-repeat: round;
					background-size: cover;
					height: 100vh;
					opacity: 1;
				    display: flex;
    				flex-wrap: wrap;
				    justify-content: center;
			        position: inherit;
			    	.picture{
			    		height: 150px;
			    		&.medium{
			    			height: 180px;
			    		}
			    		&.large{
			    			height: 222px;
			    		}
				    }
				    .product-images{
						display: flex;
						align-items: flex-end;
						justify-content: center;
						text-align: center;
						height: 46%;
						width: 100%;
				    }
				    .product-image{
			    		margin: 0 10px;
			    		display: inline-block;
				    	.product-name{
				    		span{
								font-family: "AbhayaLibre-Bold";
								font-weight: bold;
								font-size: 18px;
								line-height: 21px;
								text-align: center;
								letter-spacing: -0.01em;
								color: #000000;
								text-shadow: 0px 1px 0px rgba(249, 213, 144, 0.4);
				    		}
				    		h5{
								font-family: "AbhayaLibre-Bold";
								font-weight: bold;
								font-size: 14px;
								line-height: 17px;
								text-align: center;
								letter-spacing: -0.01em;
								text-transform: uppercase;
								color: #000000;
								text-shadow: 0px 1px 0px rgba(249, 213, 144, 0.4);
				    		}
				    	}
			    	}
			    	.large-block{
		    		    width: 100%;
	    		        height: 46.3%;
			    	}
	    			.border-image{
	    				&--square{
							position: relative;
							.icon{
								position: absolute;
								left: 25px;
								right: 0;
								margin: auto;
								top: 160px;
							    opacity: 0.7;
								@media(max-width: 375px){
									top: 190px;
								}
								@media(max-width: 767px){
									top: 23vh;
								}
								@media(min-width: 768px){
								    top: 170px;
							    }
							}
							&:before{
								content: '';
							    border: 1px dashed #412303;
							    border-top: 0;
							    height: 40vh;
							    width: calc(100% - 94px);
							    position: absolute;
							    left: 58px;
							    right: 0;
							    top: 30px;
							    bottom: 0;
							    @media(max-width: 375px){
								    height: 327px;
								    width: calc(100% - 64px);
								    left: 40px;
							    }

							    @media(min-width: 768px){
							    	height: 285px;
							    }
							}
							&:after{
								content: '';
								border: 1px dashed #B68149;
								height: 40.1vh;
								width: calc(100% - 90px);
								position: absolute;
								left: 55px;
								right: 0;
								top: 32px;
								bottom: 0;
								@media(max-width: 375px){
							    	height: 328px;
						    	    width: calc(100% - 60px);
									left: 15px;
									right: 0;
									margin: 0 auto;
							    }
						     	@media(min-width: 768px){
							    	height: 286px;
							    }
							}
						}
						&--rectangle{
							position: relative;
							.icon{
								position: absolute;
								left: 8px;
								right: 0;
								margin: auto;
								top: 160px;
							    opacity: 0.7;
								@media(max-width: 375px){
									top: 190px;
								}
								@media(max-width: 767px){
									top: 23vh;
								}
								@media(min-width: 768px){
								    top: 160px;
							    }
							}
							&:before{
								content: '';
							    border: 1px dashed #412303;
							    border-top: 0;
							    height: 337px;
							    width: calc(100% - 98px);
							    position: absolute;
							    left: 50px;
							    right: 0;
							    top: 33px;
							    bottom: 0;
							    @media(max-width: 1200px){
							    	height: 270px;
							    }
							    @media(max-width: 767px){
									height: 245px;
									width: calc(100% - 92px);
									left: 47px;
							    }
							    @media(max-width: 375px){
							    	top: 20px;
							    }
						     	@media(min-width: 1201px) and (max-width: 1769px){
									width: calc(100% - 112px);
									height: 268px;
									left: 56px;
									top: 40px;
						    	}
							    @media(min-width: 1770px){
						    	    width: calc(100% - 76px);
							    	height: 253px;
							    	left: 40px;
							    }
							}
							&:after{
								content: '';
								border: 1px dashed #B68149;
							    height: 344px;
							    width: calc(100% - 88px);
								position: absolute;
								left: 45px;
								right: 0;
								top: 28px;
								bottom: 0;
							    @media(max-width: 1200px){
							    	height: 278px;
							    }
							    @media(max-width: 767px){
							    	height: 260px;
    								top: 20px;
							    }
								@media(max-width: 375px){
							    	top: 16px;
							    }
						     	@media(min-width: 1201px) and (max-width: 1769px){
									width: calc(100% - 100px);
									height: 290px;
									left: 50px;
									top: 22px;
						    	}
							    @media(min-width: 1770px){
						    	    width: calc(100% - 72px);
							    	height: 260px;
							    	left: 38px;
							    }
							}
						}
					}
					.small-block{
						&--child1{
						    width: 50%;
						    height: 50%;
						    display: block;
						    margin: auto;
						    position: relative;
						    &.spacing{
					    	    left: -15px;
						    }
						}
						&--child2{
							width: 50%;
							height: 50%;
							display: block;
							text-align: center;
							position: relative;
						    &.spacing{
					    	    left: 15px;
						    }
							.picture{
								position: absolute;
								left: -15px;
								right: 0;
								margin: auto;
								bottom: 14px;
							}
							.product-name{
							    padding-top: 35px;
						        margin-right: 12px;
							}
						}
					}
					@media(min-width: 768px){
					    width: 500px;
    					height: 715px;
					}
				}
		        transition: background-image 300ms $ease-in-out;
		        &.green{
		        	&.active-block{
			        	background-image: url(../images/collection/shelf-green.png);
			        	transition: background-image 300ms $ease-in-out;
		        	}
		        }
		        &.yellow{
		        	&.active-block{
			        	background-image: url(../images/collection/shelf-yellow.png);
			        	transition: background-image 300ms $ease-in-out;
		        	}
		        }
			}
		}
		.fixed-image{
			position: relative;
			img{
				opacity: 0;
				@media(min-width: 768px){
					opacity: 1;
				}
			}
			&.brown{
				.img-brown{
					opacity: 1;
				}
				.table{
					background-image: url(../images/collection/table.png);
				}
			}
			&.green{
				.img-green{
					opacity: 1;
				}
				.table{
					background-image: url(../images/collection/table-green.png);
				}
			}
			&.yellow{
				.img-yellow{
					opacity: 1;
				}
				.table{
					background-image: url(../images/collection/table-yellow.png);
				}
			}
			&--block{
				position: fixed;
				left: 0;
				right: 0;
				bottom: 0;
				width: auto;
				height: 262px;
				&.mobile-visible{
					display: none;
					@media(max-width: 767px){
						display: block;
					    width: 100%;
    					height: auto;
					}
				}
				&.desktop-visible{
					display: none;
					@media(min-width: 768px){
						display: block;
					}
				}
				@media(min-width: 768px){
					position: absolute;
					height: 200px;
				}
			}
			.table{
				background-image: url(../images/collection/table.png);
				width: 100%;
			    background-repeat: repeat-x;
    			background-size: contain;
    			height: 200px;
    			margin: 0;
    			@media(max-width: 767px){
    				display: none;
    			}
			}
		}
		&-bottle-details{
			opacity: 0;
			transition: opacity 400ms $ease-out;
			.info-tab{
				z-index: 1;
				position: absolute;
				top: -1px;
				transition: z-index 300ms $ease-out;
				a.back-to-single-view{
					display: block;
					img{
						padding-right: 10px;
					    padding-bottom: 2px;
					}
					&:hover{
					    text-decoration: none;
					}
				}
			}
			&--slider{
			    height: 100%;
			    transition: height 400ms $ease-out;
			    position: relative;
				&:after{
					content: '';
					background-image: url(../images/collection/shelf-bottle-w.jpg);
					width: 504px;
					height: 100%;
					position: absolute;
					z-index: -1;
					bottom: 0;
					left: -3px;
					right: 0;
					background-size: contain;
					background-repeat: round;
					@media(max-width: 767px){
						display: none;
					}
				}
				@media(min-width: 768px){
					height: 100%;
				}
			}
			&--wrapper{
				position: relative;
				.block-slider{
					.item{
    					height: 100%;
    					transform: none;
    					.block-slider--image{
    						background-image: url(../images/collection/bottle-holder.jpg);
							background-repeat: round;
							background-size: cover;
							height: 265px;
							position: fixed;
							left: -1px;
							right: 0;
							top: 0;
							display: flex;
							align-items: flex-end;
							justify-content: space-evenly;
						    padding-bottom: 20px;
							transition: height 300ms $ease-out;
							.slide-image{
								position: relative;
							    height: auto;
						        margin: 0 0 0 30px;
						        opacity: 0;
						        transform: translateX(-10px);
						        transition: opacity 200ms $ease-out, transform 500ms $ease-out;
								img{
									height: 160px;
									@media(min-width: 768px){
										height: 350px;
									}
								}
								@media(min-width: 768px){
									margin: 0;
								}
							}
							.slide-content{
							    padding: 15px 0 12px;
						        width: 166px;
						        opacity: 0;
						        transform: translateX(-10px);
						        transition: opacity 200ms $ease-out, transform 500ms $ease-out;
								.shelf-block--label{
									margin-bottom: 15px;
									.tags{
										font-family: 'Nunito Sans', sans-serif;
										font-weight: 400;
										font-size: 10px;
										line-height: 14px;
										text-align: center;
										background: rgba(0, 0, 0, 0.5);
										border-radius: 10px;
										color: rgba(255,255,255,0.8);
									    padding: 5px 10px;
									}
								}
								.shelf-block--title{
									font-family: 'AbhayaLibre-Bold';
									font-weight: bold;
									font-size: 24px;
									line-height: 22px;
									color: #000000;
								    padding: 0 15px 0 0;
									text-shadow: 0px 1px 0px rgba(249, 213, 144, 0.4);
								}
								.order-placed{
									font-family: 'AbhayaLibre-Bold';
									font-weight: bold;
									font-size: 12px;
									line-height: 14px;
									color: #000000;
								}
								.description{
									display: flex;
									flex-direction: row;
									justify-content: flex-start;
									align-items: center;
									margin-top: 13px;
									.price{
										font-family: 'AbhayaLibre-Regular';
										font-weight: 400;
										font-size: 12px;
										line-height: 15px;
										letter-spacing: -0.011em;
										color: #000000;
										width: 86px;
										span{
											font-weight: 700;
											font-size: 14px;
											line-height: 17px;
											letter-spacing: -0.01em;
										}
									}
									@media(min-width: 768px){
										justify-content: space-evenly;
									}
								}
								@media(min-width: 768px){
									text-align: center;
									width: 100%;
								}
							}
							@media(min-width: 768px){
								height: 100%;
								width: 501px;
								flex-direction: column-reverse;
								align-items: center;
								justify-content: flex-end;
								padding-top: 56px;
							}
						}
						.vertical-slider-desktop{
							opacity: 0;
							transform: translateX(-10px);
							transition: opacity 400ms $ease-out, transform 400ms $ease-out;
						}
						&:focus{
							outline: 0;
						}
						@media(min-width: 768px){
						    margin-top: 0px;
						}
						&.active{
							.block-slider--image{
								.slide-image{
									opacity: 1;
									transform: translateX(0px);
									transition: opacity 200ms $ease-out, transform 500ms $ease-out;
								}
								.slide-content{
									opacity: 1;
									transform: translateX(0px);
									transition: opacity 200ms $ease-out, transform 500ms $ease-out;
								}
							}
							.vertical-slider-desktop{
								opacity: 1;
								transform: translateX(0px);
								transition: opacity 400ms $ease-out, transform 400ms $ease-out;
							}
						}
					}
					@media(min-width: 768px){
					    width: 100%;
					    height: 610px;
					    position: relative !important;
					}
				}
				.arrows{
					.carousel-control{
						opacity: 1;
						top: 220px;
					    height: 37px;
						position: fixed;
						background-image: none;
						img{
							width: 36px;
						}
						&.left{
						    top: 30%;
						    left: 0;
						    @media(max-width: 767px){
						    	top: 215px;
						    }
						}
						&.right{
							top: 30%;
							right: 0;
						    @media(max-width: 767px){
						    	top: 215px;
						    }
						}
						@media(min-width: 768px){
							position: absolute !important;
						}
					}
					@media(min-width: 768px){
						width: 500px;
						height: 40px;
						position: absolute;
						top: 30%;
					    @media(max-width: 767px){
					    	top: 28%;
					    }
					}
				}
				.filled-button{
					width: 500px;
					height: 300px;
					.primary-button--dark{
						padding: 20px 30px;
						width: 250px;
    					margin: auto;
						a{
							font-family: "AbhayaLibre-Regular";
							font-weight: 400;
							font-size: 18px;
							line-height: 21px;
							letter-spacing: -0.01em;
							color: #FFFFFF;
							&:focus{
								outline: 0;
							}
							&:hover{
								text-decoration: none;
							}
						}
					}
					@media(max-width: 767px){
						display: none;
					}
				}
				@media(min-width: 768px){
					width: 100%;
				}
			}
			.bottle-details{
				padding: 300px 30px 0;
			    height: calc(100vh - 80px);

				.comments {
				    height: 480px;
				}
				.floating-btn{
					.primary-button{
						width: 100%;
					}
				}
				&:after{
				    margin-top: 265px;
				}
				&::-webkit-scrollbar {
				  display: none;
				}
				@media(min-width: 768px){
					display: none;
				}
			}
			.vertical-slider-desktop{
				.swiper-container {
					.tab_option--block{
						padding-top: 30px;
					}
					.bottle-details{
						@media(min-width: 768px){
							display: block;
							padding: 0px;
						}
					}
				}
				@media(min-width: 768px){
				    margin-top: 0;
				}
			}
			&.show-details{
				opacity: 1;
				transition: opacity 400ms $ease-out;
				&--slider{
			   	 	height: 300px;
			   	 	transition: height 400ms $ease-out;
	   	 		}
			}
		}
		&.hide-collection{
			opacity: 0;
			transition: opacity 400ms $ease-out;
		}
		@media(max-width: 767px){
			height: 100vh;
		}
	}
}
@media not all, (-webkit-transform-3d){
	.carousel-inner>.item{
		transform: none !important;
	} 
}