
@font-face {
	font-family: 'AbhayaLibre-Regular';
	src: url('../fonts/AbhayaLibre-Regular.eot');
	src: local('☺'), url('../fonts/AbhayaLibre-Regular.woff') format('woff'), url('../fonts/AbhayaLibre-Regular.ttf') format('truetype'), url('../fonts/AbhayaLibre-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'AbhayaLibre-SemiBold';
	src: url('../fonts/AbhayaLibre-SemiBold.eot');
	src: local('☺'), url('../fonts/AbhayaLibre-SemiBold.woff') format('woff'), url('../fonts/AbhayaLibre-SemiBold.ttf') format('truetype'), url('../fonts/AbhayaLibre-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'AbhayaLibre-Bold';
	src: url('../fonts/AbhayaLibre-Bold.eot');
	src: local('☺'), url('../fonts/AbhayaLibre-Bold.woff') format('woff'), url('../fonts/AbhayaLibre-Bold.ttf') format('truetype'), url('../fonts/AbhayaLibre-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'AbhayaLibre-ExtraBold';
	src: url('../fonts/AbhayaLibre-ExtraBold.eot');
	src: local('☺'), url('../fonts/AbhayaLibre-ExtraBold.woff') format('woff'), url('../fonts/AbhayaLibre-ExtraBold.ttf') format('truetype'), url('../fonts/AbhayaLibre-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

body{
	margin: 0;
	position: relative;
	font-family: 'AbhayaLibre-Regular';
	background-color: #d6b165 !important;
	.product-detailed{
		opacity: 0;
		&.loading{
			opacity: 1;
			transition: opacity 600ms $ease-in;
			@media(min-width: 768px){
				max-width: 550px;
			}
		}
	}
}
.pointer-events-none{
	pointer-events: none;
}

.section-title{
	font-family: "AbhayaLibre-ExtraBold";
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 103.97%;
	color: #000000;
}