.shelf-block-bg{
	position: absolute !important;
	left: 0;
	right: 0;
	top: 0;
    display: block;
    height: 100vh;
	.shelf-block{
	    position: absolute;
        height: calc(100vh - 80px);
	    left: 0;
	    top: 0;
	    padding-top: 30px;
		transition: opacity 1s $ease-out, height 1s $ease-out;
		width: 100%;
		z-index: 0;
		-webkit-transition: opacity 1s $ease-out, height 1s $ease-out;
		pointer-events: none;
		.shelf-block--wrap{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding-top: 108px;
		    width: auto !important;
			margin-right: 0 !important;
			pointer-events: none;
		   	.shelf-block--label{
				margin-bottom: 15px;
				.tags{
					font-family: 'Nunito Sans', sans-serif;
					font-weight: 400;
					font-size: 10px;
					line-height: 14px;
					text-align: center;
					background: rgba(0, 0, 0, 0.2);
					border-radius: 10px;
					color: #FFFFFF;
				    padding: 4px 12px;
				    opacity: 0;
				}
			}
			.shelf-block--title{
				font-size: 30px;
				line-height: 35px;
				margin-bottom: 0;
				opacity: 0;
			}
			.shelf-block--info{
				font-size: 14px;
				line-height: 17px;
				opacity: 0;
			}
			.description{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				opacity: 0;
				.price{
					font-family: 'AbhayaLibre-Regular';
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
					text-align: center;
					letter-spacing: -0.011em;
					color: #000000;
					width: 108px;
					span{
						font-weight: 700;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: -0.01em;
					}
				}
			}
			.shelf-block--picture {
				opacity: 0;
			    object-fit: contain;
			    right: 0;
				left: 0;
			    z-index: 1;
				bottom: 80px;
				width: auto;
				transition: right 1s $ease-out;
				-webkit-transition: right 1s $ease-out;
    			filter: drop-shadow(30px 0px 30px rgba(0, 0, 0, 0.4));
    			-webkit-filter: drop-shadow(30px 0px 30px rgba(0, 0, 0, 0.4));
		    }
	    	&.prev{
	    		.shelf-block--picture {
	    			height: 420px;
					transform: translateX(-140%);
					transition: transform 2s $ease-in-out, opacity 2s $ease-in-out, bottom 2s $ease-in-out;
				}
	    	}
	    	&.active{
	    		.shelf-block--label{
    		 		.tags{ 
	    				opacity: 1;
    				}
    			}
    			.shelf-block--info {
    				opacity: 1;
    			}
    			.description{
    				opacity: 1;
    			}
    		 	.shelf-block--title {
			    	opacity: 1;
			    	visibility: visible;
			    	transition: opacity 1s $ease-out;
			        -webkit-transition: opacity 1s $ease-out;
		        }
		        .shelf-block--picture {
					opacity: 1;
					bottom: 35px;
					right: 0;
					height: 420px;
					transform: translateX(0%);
				    pointer-events: auto;
					transition: transform 2s $ease-in-out, opacity 2s $ease-in-out, bottom 2s $ease-in-out, height 2s $ease-in-out, right 2s $ease-in-out;
				}
		    	
	    	}
    		&.next{
	    		.shelf-block--picture {
	    			height: 420px;
					transform: translateX(140%);
					transition: transform 2s $ease-in-out, opacity 2s $ease-in-out, bottom 2s $ease-in-out;
				}
	    	}
	    }
	    @media(min-width: 768px){
	    	width: 500px;
    	    height: 650px;
    	    opacity: 0;
    	    .shelf-block--wrap{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding-top: 108px;
			    width: auto !important;
				margin-right: 0 !important;
				pointer-events: none;
			   	.shelf-block--label{
					margin-bottom: 15px;
					.tags{
						font-family: 'Nunito Sans', sans-serif;
						font-weight: 400;
						font-size: 10px;
						line-height: 14px;
						text-align: center;
						background: rgba(0, 0, 0, 0.2);
						border-radius: 10px;
						color: #FFFFFF;
					    padding: 4px 12px;
					    opacity: 0;
					}
				}
		    }
	    }
	}
	.vertical-slider{
		.shelf-block{
			.slide-item{
			    .shelf-block--region{
			    	height: 400px;
			    	pointer-events: auto; 
			    	opacity: 0;
			    	.region{
						height: 570px;
						transform: translateY(-30%);
						transition: transform 2s $ease-out;
				    	-webkit-transition: transform 2s $ease-out;
						position: relative;
						.tabs{
							opacity: 0;
						}
			    		&.slide_up{
			    			transform: translateY(-190%);
			    			transition: transform 2s $ease-out;
				    	    -webkit-transition: transform 2s $ease-out;
			    		}
			    	}
		    		.map{
						background-image: url('../images/scotland.png');
						background-repeat: no-repeat;
						background-size: contain;
					    background-position-y: center;
					    width: 100%;
						height: 380px;
						left: 25px;
					    position: absolute;
					    top: 16%;
					    z-index: -2;
			    		opacity: 0;
			    		transition:  opacity 2s $ease-out;
				    	-webkit-transition: opacity 2s $ease-out;
		    		}
		    		.region_details{
					    position: absolute;
					    right: 60px;
					    top: 45%;
					    width: 120px;
					    font-family: 'AbhayaLibre-SemiBold';
					    font-weight: 600;
					    font-size: 12px;
					    line-height: 20px;
					    letter-spacing: 0.01em;
					    color: #000000;
					    text-align: left;
		    			opacity: 0;
	    			    transform: translateY(40px);
	    			    -webkit-transform: translateY(40px);
	    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	-webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
		    		}
				    .disterllery{
				    	transform: translateY(-7%);
				    	height: 570px;
				    	opacity: 0;
				    	transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	-webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	.map-disterllery{
				    		background-image: url('../images/disterllery.png');
							background-repeat: no-repeat;
							background-size: contain;
						    background-position-y: center;
						    width: 100%;
						    left: 50px;
						    height: 315px;
						    position: absolute;
						    top: 1%;
				    	}
				    	.disterllery_details{
						    position: absolute;
						    right: 60px;
						    top: 38%;
						    width: 132px;
						    font-family: 'AbhayaLibre-SemiBold';
						    font-weight: 600;
						    font-size: 12px;
						    line-height: 20px;
						    letter-spacing: 0.01em;
						    color: #000000;
						    text-align: left;
		    			    transform: translateY(40px);
		    			    -webkit-transform: translateY(40px);
		    			    transition: transform 2s $ease-out;
				    	    -webkit-transition: transform 2s $ease-out;
			    		}
				    }
				    .disterllery2{
				    	transform: translateY(-7%);
				    	height: 570px;
				    	opacity: 0;
				    	transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	-webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	.map-disterllery{
				    		background-image: url('../images/disterllery.png');
							background-repeat: no-repeat;
							background-size: contain;
						    background-position-y: center;
						    width: 100%;
					        left: 75px;
    						height: 295px;
						    position: absolute;
						    top: 4%;
				    	}
				    	.disterllery_details{
						    right: 60px;
						    width: 132px;
						    font-family: 'AbhayaLibre-SemiBold';
						    font-weight: 600;
						    font-size: 12px;
						    line-height: 20px;
						    letter-spacing: 0.01em;
						    color: #000000;
						    text-align: left;
		    			    transform: translateY(232px);
		    			    -webkit-transform: translateY(232px);
						    .rightbox {
								padding: 0;
								height: 100%;
							}
							.rb-container {
								width: 50%;
								margin: auto;
								display: block;
								position: relative;
								ul.rb {
									margin: 0em 0;
									padding: 0;
									display: inline-block;
									li {
										list-style: none;
										margin: auto;
										margin-left: 162px;
										min-height: 50px;
										border-left: 1px dashed #000;
										padding: 0 15px 10px 20px;
										position: relative;
										width: 150px;
										&:last-child {
											border-left: 0;
										}
										&::before {
											position: absolute;
											left: -5px;
											top: 0px;
											content: " ";
											border-radius: 500%;
											background: linear-gradient(335.52deg, #E1B96B 31.29%, #AA8641 69.03%);
											height: 10px;
											width: 10px;
											transition: all 500ms ease-in-out;
										}
										&::after {
											position: absolute;
											left: -3px;
											top: 3px;
											content: " ";
											border-radius: 500%;
											background: #634B1C;
											height: 5px;
											width: 5px;
											transition: all 500ms ease-in-out;
										}
									}
								}
							}
							ul.rb {
								li {
									.timestamp {
										font-family: "AbhayaLibre-Bold";
										font-weight: bold;
										font-size: 18px;
										line-height: 21px;
										letter-spacing: -0.01em;
										color: #000000;
									}
								}
							}
							.item-title {
								font-family: 'Nunito Sans', sans-serif;
								font-style: normal;
								font-weight: normal;
								font-size: 12px;
								line-height: 20px;
								color: #000000;
								opacity: 0.7;
							}

			    		}
				    }
				    .bottle_story{
				    	transform: translateY(-7%);
				    	height: 570px;
				    	opacity: 0;
				    	transition: transform 2s $ease-out, opacity 2s $ease-out;
				    	-webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
			    		.map{
							background-image: url('../images/scotland.png');
							background-repeat: no-repeat;
							background-size: contain;
						    background-position-y: center;
						    width: 100%;
							height: 380px;
							left: 25px;
						    position: absolute;
						    top: -4% !important;
				    		opacity: 0;
			    		}
			    		.bottle_story_details{
						    position: absolute;
						    right: 60px;
						    top: 34%;
						    width: 120px;
						    font-family: 'AbhayaLibre-SemiBold';
						    font-weight: 600;
						    font-size: 12px;
						    line-height: 20px;
						    letter-spacing: 0.01em;
						    color: #000000;
						    text-align: left;
			    			opacity: 0;
		    			    transform: translateY(40px);
		    			    -webkit-transform: translateY(40px);
			    		}
				    }
			    }
	    		.tabs{
					position: absolute;
				    top: 30px;
				    left: 0;
				    right: 0;
				    width: 100%;
				    background: #E1B96B;
				    height: 50px;
				    font-family: "AbhayaLibre-ExtraBold";
					font-style: normal;
					font-weight: 800;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					text-align: left;
					padding: 15px 24px;
					opacity: 0;
					pointer-events: auto;
					span{
					    transform: translateY(-10px);
					    -webkit-transform: translateY(-10px);
						opacity: 0;
						position: absolute;
	    				left: 24px;
					}
					.button{
						position: relative;
						a{
							position: absolute;
							top: -5px;
							right: 0;
							img{
								width: 30px;
								height: 30px;
								object-fit: contain;
							}
						}
					}
					.arrow{
					    padding: 6px 4px;
					}
			    }
    			&.active{
    				padding-top: 120px;
		    		transition: padding-top 1s $ease-in-out;
		    		-webkit-transition: padding-top 1s $ease-in-out;
    				.shelf-block--picture{
    					right: 0;
    					transition: right 1s $ease-out;
				        -webkit-transition: right 1s $ease-out;
    				}
					&.SWIPE_UP{
						padding-top: 150px;
    		    		transition: padding-top 1s $ease-in-out;
    		    		-webkit-transition: padding-top 1s $ease-in-out;
			    		.shelf-block--content-wrapper{
							opacity: 1;
						}
						.description{
							opacity: 0;
						}
			    		.shelf-block--label, .shelf-block--info{
			    			opacity: 1;
			    			transition: right 1s $ease-out;
				            -webkit-transition: right 1s $ease-out;
			    		}
			    		.shelf-block--picture{
							right: 40%;
							width: 135px;
							bottom: -40px;
			    			transition: right 1s $ease-out;
				            -webkit-transition: right 1s $ease-out;
			                pointer-events: none;
			    		}
			    		.description{
			    			.price{
		    				    width: 90px;
			    			}
			    		}
			    		.tabs{
			    			z-index: 1;
			    			opacity: 1;
			    			top: 80px;
			    			transition: top 1s $ease-out;
			    			-webkit-transition: top 1s $ease-out;
			    			span{
			    				&.selected{
		    					    transform: translateY(3px);
		    					    -webkit-transform: translateY(3px);
			    					opacity: 1;
			    					transition: all 450ms $ease-in-out;
			    				}
			    			}
			    		}
			    		.shelf-block--region{
			    			opacity: 1;
			    			transition: opacity 1s $ease-out;
				            -webkit-transition: opacity 1s $ease-out;
			    			.map{
			    				top: -9%;
		    	    			opacity: 1;
			    			    transition: top 1s $ease-out, opacity 1s $ease-out;
			    			    -webkit-transition: top 1s $ease-out, opacity 1s $ease-out;
			    			}
				    		.region_details{
		    	    			opacity: 1;
			    			    transform: translateY(0px);
			    			    -webkit-transform: translateY(0px);
			    			    transition: transform 1s $ease-out, opacity 1s $ease-out;
			    			    -webkit-transition: transform 1s $ease-out, opacity 1s $ease-out;
				    			p{
				    				opacity: 1;
			    				}
				    		}
				    		.disterllery{
				    			&.showDisterlleryDetails{
					    			opacity: 1;
				    			  	transform: translateY(-126%);
				    			    -webkit-transform:translateY(-126%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
					    		}
					    		&.hideDisterlleryDetails{
					    			transform: translateY(-350%);
				    			    -webkit-transform:translateY(-350%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
					    		}
				    		}
				    		.disterllery2{
				    			&.showDisterlleryDetails1{
					    			opacity: 1;
				    			  	transform: translateY(-228%);
				    			    -webkit-transform:translateY(-228%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
					    		}
					    		&.hideDisterlleryDetails1{
					    			transform: translateY(-350%);
				    			    -webkit-transform:translateY(-350%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
					    		}
				    		}
				    		.bottle_story{
				    			&.showBottleStoryDetails{
					    			opacity: 1;
				    			  	transform: translateY(-326%);
				    			    -webkit-transform:translateY(-326%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    .bottle_story_details{
				    			    	opacity: 1;
				    			    }
					    		}
					    		&.hideBottleStory{
					    			opacity: 0;
					    			transform: translateY(-420%);
				    			    -webkit-transform:translateY(-450%);
				    			    transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    -webkit-transition: transform 2s $ease-out, opacity 2s $ease-out;
				    			    .bottle_story_details{
				    			    	opacity: 0;
				    			    }
					    		}
				    		}
			    		}
			    		&.wrap3{
			    			.shelf-block--picture{
			    			    bottom: -27px;
		    			    }
			    		}
			    		&.wrap4{
			    			.shelf-block--picture{
								right: 44%;
								width: 100px;
								bottom: 18px;
				    			transition: right 1s $ease-out;
					            -webkit-transition: right 1s $ease-out;
				    		}
			    		}
			    	}
				}
		    }
		}
	}
	&.small_block{
		position: relative !important;
	    height: 360px;
    	.shelf-block{
    		position: fixed;
			height: 360px;
			transition: height 600ms $ease-out;
			-webkit-transition: height 600ms $ease-out;
			background-color: #000;
	    }
	    .vertical-slider{
	    	.slide-item{
	    		&.active {
	    			&.SWIPE_UP{
						.content{
							position: fixed;
							left: 0;
							right: 0;
							z-index: 3;
							height: 200px;
							transition: height 1s $ease-out;
							-webkit-transition: height 1s $ease-out;
							.shelf-block--content-wrapper{
							    padding-left: 145px;
							    padding-right: 35px;
							}
							.shelf-block--label{
								text-align: left;
								.tags{
									background-color: rgba(0,0,0,0.5);
								}
							}
							.shelf-block--title{
								font-size: 36px;
								line-height: 42px;
								text-align: left;
							}
							.shelf-block--info{
								padding-top: 15px;
								text-align: left;
								display: none;
							}
							.description{
								opacity: 1;
							    justify-content: flex-start;
							    margin-top: 10px;
							    .price{
							    	text-align: left;
							    }
							}
							.shelf-block--picture {
								height: 175px !important;
								padding-right: 48px;
								width: 140px !important;
								bottom: 7px !important;
								@media(min-width: 768px){
									right: 0 !important;
									height: 60%;
									bottom: 40px;
								}
							}
							&.active{
								.description{
									opacity: 1 !important;
									margin-top: 20px;
									justify-content: flex-start;
									.price{
										text-align: left;
									}
								}
							}
							&.wrap4{
						    	bottom: 24px !important;
							}
							&.cart{
								background-color: black;
								height: 400px;
								transition: height 1s $ease-out;
						        -webkit-transition: height 1s $ease-out;
						        .shelf-block--label{
									text-align: left;
									.tags{
										background-color: rgba(0,0,0,0.2);
										transition: background-color 1s $ease-out;
									}
								}
								.shelf-block--info{
									display: block;
								}
								.shelf-block--picture {
									height: 220px !important;
									padding-right: 40px;
									width: 140px !important;
									bottom: 34px !important;
									transition: height 1s $ease-out;
								}
							}
						}
	    			}
				}
			}
	    }
	}
	&.cart{
		.vertical-slider {
			.shelf-block{
				margin-bottom: 20px;
	    		position: fixed;
				height: 375px;
				transition: height 600ms $ease-out;
				-webkit-transition: height 600ms $ease-out;
				background-color: #000;
				.slide-item{
					&.active{
						&.SWIPE_UP {
							.content {
								.shelf-block--picture {
								    height: 200px !important;
								    padding-right: 50px;
								    width: 140px !important;
								    bottom: -16px !important;
								    transition: bottom 1s $ease-in-out, height 1s $ease-in-out;
								    -webkit-transition: bottom 1s $ease-in-out, height 1s $ease-in-out;
							    }
						    }
						    &.wrap3{
						    	.content {
									.shelf-block--picture {
						    			bottom: -8px !important;
					    			}
				    			}
						    }
					     	&.wrap4{
						    	.content {
									.shelf-block--picture {
						    			bottom: -5px !important;
					    			}
				    			}
						    }
					    }
				    }
			    }
		    }
	    }
	}
	.bottle-details{
	    padding: 380px 30px 0;
		height: 100vh;
		z-index: -1;
		background: #FEF8EC;
		overflow: auto;
	    text-align: left;
	    position: relative;
		.header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
		    .title{
		    	font-family: "AbhayaLibre-ExtraBold";
			    font-weight: 800;
			    font-size: 24px;
			    line-height: 103.97%;
			    color: #000000;
			    margin: 0;
		    }
		    a{
				font-family: "AbhayaLibre-SemiBold";
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: -0.01em;
				color: #AA8641;
			    padding-right: 15px;
		    }
	    }
	    .info{
	    	font-family: 'Nunito Sans', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.01em;
			color: #000000;
			opacity: 0.7;
			margin-bottom: 20px;
	    }
	    .price-title{
	    	margin-top: 50px;
	    }
	    .tags{
	    	display: flex;
	    	flex-wrap: wrap;
		    margin-bottom: 30px;
	    	.tag{
	    		flex-basis: 33.33%;
	    		.name{
	    			font-family: 'Nunito Sans', sans-serif;
					font-size: 12px;
					line-height: 20px;
					letter-spacing: 0.01em;
					color: #000000;
					opacity: 0.7;
					margin-bottom: 0;
	    		}
	    		.type{
	    			font-family: "AbhayaLibre-Bold";
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: -0.01em;
					color: #000000;
	    		}
	    	}
	    }
	    .wrap{
	    	display: none;
	    }
	    @media(min-width: 768px){
			margin-left: 550px;
		    top: 160px;
		    .wrap{
	    		display: block;
	    	}
		    .shelf-block{
		    	&--label{
					margin-bottom: 15px;
					display: flex;
					.tags{
						font-family: 'Nunito Sans', sans-serif;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						text-align: center;
						background: #FFFFFF;;
						border-radius: 10px;
						color: #000000;
					    padding: 4px 12px;
					    margin-right: 10px;
					}
				}
		    	&--title{
					font-family: "AbhayaLibre-Regular";
					font-style: normal;
					font-weight: bold;
					font-size: 72px;
					line-height: 64px;
					letter-spacing: -0.01em;
					color: #000000;
					text-align: left;
				}
				&--info{
					font-family: "AbhayaLibre-Bold";
					font-style: normal;
					font-weight: bold;
					font-size: 36px;
					line-height: 42px;
					color: #000000;
					opacity: 0.5;
					text-align: left;
					margin-bottom: 32px;
				}
		    }
			.description{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 30px;
				.price{
					font-family: 'AbhayaLibre-Regular';
					font-weight: 400;
					font-size: 18px;
					line-height: 21px;
					text-align: left;
					letter-spacing: -0.011em;
					color: #000000;
					width: 108px;
					margin-right: 20px;
					span{
						font-weight: 700;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: -0.01em;
					}
				}
			}
	    }
	    &:after{
		    content: '';
		    width: 100%;
		    height: 60px;
		    background: linear-gradient(180deg, #000000 -25%, rgba(0, 0, 0, 0) 100%);
		    opacity: 0.3;
		    position: absolute;
		    top: 0;
		    left: 0;
		    margin-top: 340px;
	    }
	}
	@media(min-width: 768px){
		&.show_bg{
		    width: 500px;
		    background: #E1B96B;
			.shelf-block{
		    	opacity: 1;
		    	transition: opacity 1s $ease-in-out;
		    	&--wrap{
		    		&.active{
		    			.shelf-block--label{
		    				.tags{
		    					background: #000000;
		    				}
		    			}
		    			.description{
		    				justify-content: space-evenly;
	    				    margin-top: 30px;
		    			}
	    				.shelf-block--picture {
							height: 380px;
					    }
		    		}
		    	}
			}
		}
	}
}
/** dots **/
.slide-dots{
	background-image: url('../images/dots-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	position: fixed;
    top: 30vh;
    right: -35px;
    width: 50px;
    height: 360px;
    height: 335px;
    z-index: 3;
    padding: 40px 0 0px;
    transition: opacity 1s $ease-in-out, right 1s $ease-in-out;
    -webkit-transition: opacity 1s $ease-in-out, right 1s $ease-in-out;
    .dot{
	    position: relative;
        display: block;
    	min-height: 46px;
	    border-left: 1px dashed #000;
	    padding: 0;
	    position: relative;
	    width: 30px;
	    margin-left: 28px;
	    margin-top: 0px;
    	&:before{
		    content: '';
		    background: #F9D590;
		    border: 4px solid #634B1C;
		    box-sizing: border-box;
		    border-radius: 5px;
		    width: 2px;
		    height: 2px;
		    position: absolute;
		    top: 0px;
		    left: -30px;
		    right: 0;
		    margin: auto;
		}
		&:last-child{
			border-left: 0;
		}
		&.dot-active{
			position: relative;
			&:before{
				position: absolute;
				left: -30px;
				z-index: 1;
				top: 0px;
				content: " ";
				border-radius: 500%;
				border: 2px solid #634B1C;
				height: 10px;
				width: 10px;
				transition: all 200ms ease-in-out;
			}
			&:after{
			    position: absolute;
			    left: -6px;
			    top: 0px;
			    content: " ";
			    border-radius: 500%;
			    background: #F9D590;
			    height: 10px;
			    width: 10px;
			}
		}
	}
    &.slide-dots-active{
		opacity: 1;
		right: 0px;
		transition: opacity 1s $ease-in-out, right 1s $ease-in-out;
		-webkit-transition: opacity 1s $ease-in-out, right 1s $ease-in-out;
    }
    @media(min-width: 768px){
    	display: none;
    }
}	













