.themes-button{
    background: linear-gradient(180deg, transparent, #000 50%);
	height: 150px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(125px);
    -webkit-transform: translateY(125px);
    transition: opacity 400ms $ease-in-out, transform 400ms $ease-in-out;
    -webkit-transition: opacity 400ms $ease-in-out, transform 400ms $ease-in-out;
    .cross{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
		right: 0;
        margin: 0px auto;
        cursor: pointer;
        &:after {
            content: '';
            height: 20px;
            border-left: 1px solid #E1B96B;
            position: absolute;
            transform: rotate(45deg);
            left: 9px;
        }
        &:before {
            content: '';
            height: 20px;
            border-left: 1px solid #E1B96B;
            position: absolute;
            transform: rotate(-45deg);
            left: 9px;
        }
        &.remove-cross{
			opacity: 0;
			transform: translatey(20px);
			transition: opacity 300ms #ease-in-out, transform 300ms 400ms $ease-in-out;
        }
    }
    &--wrapper{
        display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		transition: justify-content 300ms ease-in;
    	.button{
			background: rgba(255, 255, 255, 0.2);
			border-radius: 50%;
			padding: 6px;
			margin: 0 10px;
			width: 50px;
			height: 50px;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			transform: translateX(0);
			-webkit-transform: translateX(0);
			transition: transform 400ms $ease-in-out;
			-webkit-transition: transform 400ms $ease-in-out;
		    touch-action: none;
    		&.active{
    		    width: 70px;
    			height: 70px;
    			position: relative;
    			.image-button{
    			    width: 60px;
    			}
    			&:after{
    				opacity: 1;
    				transition: opacity 400ms $ease-in-out;
    			}
    		}
    		&.brown{
				transform: translateX(0);
				-webkit-transform: translateX(0);
				transition: transform 400ms $ease-in-out;
				-webkit-transition: transform 400ms $ease-in-out;
    			&.active{
					transform: translateX(0);
					-webkit-transform: translateX(0);
					transition: transform 400ms $ease-in-out;
					-webkit-transition: transform 400ms $ease-in-out;
    			}
				&.remove-buttons-group{
					opacity: 0;
					transform: translateX(250%) !important;
	                -webkit-transform: translateX(250%)  !important;
	                transition: opacity 300ms 750ms ease-in-out, transform 400ms 600ms ease-in-out !important;
				}
    		}
    		&.green{
				transform: translateX(80px);
				-webkit-transform: translateX(80px);
				transition: transform 400ms $ease-in-out;
				-webkit-transition: transform 400ms $ease-in-out;			    
    			&.active{
					transform: translateX(0);
					-webkit-transform: translateX(0);
					transition: transform 400ms $ease-in-out;
					-webkit-transition: transform 400ms $ease-in-out;    				
    			}
				&.remove-buttons-group{
					opacity: 0;
					transform: translateX(250%) !important;
	                -webkit-transform: translateX(250%)  !important;
	                transition: opacity 300ms 500ms ease-in-out, transform 400ms 300ms ease-in-out !important;
				}
    		}
    		&.yellow{
				transform: translateX(150px);
				-webkit-transform: translateX(150px);
				transition: transform 400ms $ease-in-out;
				-webkit-transition: transform 400ms $ease-in-out;    			
    			&.active{
					transform: translateX(0);
					-webkit-transform: translateX(0);
					transition: transform 400ms $ease-in-out;
					-webkit-transition: transform 400ms $ease-in-out;    				
    			}
				&.remove-buttons-group{
					opacity: 0;
					transform: translateX(180%) !important;
	                -webkit-transform: translateX(180%)  !important;
	                transition: opacity 300ms 300ms ease-in-out, transform 400ms 100ms ease-in-out !important;
				}
    		}
    		&:after{
				content: '';
				background: url("../images/tick_mark.svg");
				width: 24px;
				height: 100px;
				background-size: contain;
				background-repeat: no-repeat;
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 25px;
				margin: auto;
				opacity: 0;
			}
		    @media(min-width: 768px){
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
	    	}
    	}
    }
    &.show-buttons{
	    opacity:1;
	    transform: translateY(0px);
	    -webkit-transform: translateY(0px);
	    transition: opacity 400ms $ease-in-out, transform 400ms $ease-in-out;
	    -webkit-transition: opacity 400ms $ease-in-out, transform 400ms $ease-in-out;
    }
}